<!DOCTYPE html>
<html lang="en">
    <head>
                <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-EB735Z46CQ"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
            
              gtag('config', 'G-EB735Z46CQ');
            </script>
        <!-- Google tag (gtag.js) -->
        
        
        <style>

     
        /* Add CSS for centering the form */
.center-form {
    text-align: center;
    padding: 10px 0; /* Adjusted padding */
}

/* Styles for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 767px) {
    /* Adjusted height to reduce gap */
    .center-form {
        height: auto; /* Remove fixed height on small screens */
    }
    /* Adjusted label and input styles for better mobile display */
    .center-content {
        margin-bottom: 10px; /* Add spacing between elements on small screens */
    }
    input[type="text"],
    input[type="number"] {
        width: 100%; /* Make text input fields expand to full width on small screens */
        padding: 8px; /* Adjusted padding for better touch interaction */
    }
}
         
    </style>
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="author" content="Related Engine" />
        <meta name="description" content="Explore the world of scholarly research articles effortlessly with our powerful tools. Simplify your research journey, discover related papers, and access interconnected research work. Download, organize, and visualize your findings with ease.">
        <meta name="keywords" content="scholarly research, research articles, academic tools, research papers, data collection, search tools, research recommendations, data organization, network graph">
        <title>Related Engine: Find Related Scholarly Articles On PubMed</title>
        <meta charset="UTF-8">
      <!-- Favicon-->
          <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico')}}" />
        <!-- Favicon-->

          <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        
        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet"/>
        <!-- MDB -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
        
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
              <!--Nav bar     -->
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
              <div class="container px-5">
                <a class="navbar-brand" href="/">
                  <img class="logo-img" src="{{ url_for('static', filename='assets/logo2.png')}}" alt="Related Engine" width="50%" height="auto" />
                </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">☰</span>
                  </button>
              <div class="d-flex align-items-center">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav nav-pills nav-justified">
                      <li class="nav-item">
                        <a class="nav-link" href="/" style="font-size: 12px; padding: 7.5px 0px;">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="https://relengine.com/docHub" style="font-size: 12px; padding: 7.5px 0px;">Doc Hub</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/JobHunt/" style="font-size: 12px; padding: 7.5px 0px;">Job Finder</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/pm/" style="font-size: 12px; padding: 7.5px 0px;">Search PubMed</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/gs/" style="font-size: 12px; padding: 7.5px 0px;">Search Scholar</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/ai/" style="font-size: 12px; padding: 7.5px 0px;">Ai-Powered Search</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/contact" style="font-size: 12px; padding: 7.5px 0px;">Contact</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
           <!-- Projects Section-->
           <section class="py-5">
            <div class="container px-5 mb-5">
              <div class="text-center mb-5">
                <!--flash messages-->
            {% with messages = get_flashed_messages(with_categories=true) %} {% if
                messages %} {% for category, message in messages %} {% if category ==
                'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endif %} {% endfor %} {% endif %} {% endwith %}
        <!--end of flash-->
              </div>
              <div class="row gx-5 justify-content-center">
                <!-- sign up card -->
                <section class="vh-100" style="background-color: #fff;">
                  <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                      <div class="col-lg-12 col-xl-11">
                        <div class="card text-black" style="border-radius: 25px;">
                          <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                                <form class="mx-1 mx-md-4" method="POST">
                                  <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                      <input type="text" id="firstName" name="firstName" class="form-control" />
                                      <label class="form-label" for="firstName">Your Name</label>
                                    </div>
                                  </div>
                                 <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                      <input type="email" id="email" name="email" class="form-control" />
                                      <label class="form-label" for="email">Your Email</label>
                                    </div>
                                  </div>
                                
                                  <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                      <input type="password" id="password1" name="password1" class="form-control" />
                                      <label class="form-label" for="password1">Password</label>
                                    </div>
                                  </div>
                                  <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                      <input type="password" id="password2" name="password2" class="form-control" />
                                      <label class="form-label" for="password2">Repeat your password</label>
                                    </div>
                                  </div>
                                 <!--Education-->
                                <!-- Degree Earned -->
                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-graduation-cap fa-lg me-3 fa-fw"></i> <!-- Graduation cap icon -->
                                    <div class="form-outline flex-fill mb-0">
                                        <input type="text" id="Education" name="Education" class="form-control" />
                                        <label class="form-label" for="Education">Degree Earned</label>
                                    </div>
                                </div>
                                
                                <!-- Field of Study -->
                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-book fa-lg me-3 fa-fw"></i> <!-- Book icon -->
                                    <div class="form-outline flex-fill mb-0">
                                        <input type="text" id="Acinterest" name="Acinterest" class="form-control" />
                                        <label class="form-label" for="Acinterest">Field of Study</label>
                                    </div>
                                </div>
                                <!-- Field of Study -->
                                <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-shield fa-lg me-3 fa-fw"></i> <!-- CAPTCHA icon -->
                                        <div class="form-outline flex-fill mb-0">
                                             <input type="number" id="{{ random_id }}" name="captcha-answer" class="form-control" min="0" step="1" required />
                                            <label class="form-label" for="captcha-answer"> Solve: {{ num1 }} + {{ num2 }} = </label>
                                        </div>
                                    </div>
                                
                                  <div class="form-check d-flex justify-content-center mb-5">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                                    <label class="form-check-label" for="form2Example3"> I agree all statements in <a href="#!">Terms of service</a>
                                    </label>
                                  </div>
                                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                  </div>
                                </form>
                              </div>
                              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <!-- end of signup card  -->
              </div>
          </section>
            <!-- Include the visitor counter -->
        <div class="counter-container" style="text-align: center; margin-top: 20px; margin-bottom: 0px;">
            <iframe src="https://relengine.com/Counter/visitor_counter.php" frameborder="0" width="100%" height="100%"></iframe>
            </div>
        
            <!-- Call to action section-->
            
        </main>
  
        <!-- Footer-->
        <footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0">Copyright &copy; Related Engine 2023</div></div>
                    <div class="col-auto">
                        <a class="small" href="#!">Privacy</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="#!">Terms</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- MDB -->
        <script
          type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
        ></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
        <!-- JavaScript to show/hide the loading overlay -->
    </body>
</html>
